
<app-header></app-header>
<table class="table">
  <thead>
    <tr>
      <th>Select</th>
      <th>Bill Number</th>
      <th>CustomerId</th>
      <th>CustomerName</th>
      <th>Unit Consumption</th>
      <th>Due Date</th>
      <th>Amount</th>
      <th>Bill Status</th>
    </tr>
  </thead>
  <tbody>
    <tr *ngFor="let bill of bills">
      <td>{{bill.billNumber }}</td>
      <td>{{bill.customerId}}</td>
      <td>{{bill.customerName}}</td>
      <td>{{ bill.unitConsumption }}</td>
      <td>{{ bill.billDueDate | date:'mediumDate' }}</td>
      <td>{{ bill.amount }}</td>
      <td>{{bill.billStatus}}</td>
      <td>
        <button
          [ngClass]="{'btn btn-success': bill.billStatus === 'paid', 'btn btn-danger': bill.billStatus === 'unPaid'}"
          style="width: 100px;"
          (click)="onPayClick(bill)"
        >
          {{ bill.billStatus }}
        </button>
      </td>
      
    </tr>
  </tbody>
</table>
